html,
body {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

body {
	font-family: monospace;
	text-variant-numeric: tabular-nums;
}

body > header {
	background: rgb(74, 47, 170);
	color: #fff;
}

body > header > h1,
body > main {
	margin: 0 auto;
	width: 720px;
	line-height: 1.5;
}
